# Python virtual environments
venv/
.env

# Py cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled zip or bytecode
*.pyz
*.pyw
*.pywz
*.pyzw

# FastAPI typical paths
instance/
*.sqlite3
*.db
alembic/
migrations/

# Test artifacts
htmlcov/
.coverage
.tox/
.pytest_cache/
.cur*re
*cur*o*

# VSCode settings
.vscode/
.idea/
*.code-workspace

# Mac system
.DS_Store

# Environment, logs, etc.
*.env
*.log
*.bak

# Resources
problem_statement/
